<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <!-- Connection String to the Database -->
	 <connectionStrings>
		  <add name ="DBCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Anku\Desktop\Class Notes\Year 2\OOP\Banking-Operations-App\Banking Operations App\DB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	 </connectionStrings>
</configuration>